<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/head.ejs') %>
        <link rel="stylesheet" href="/styles/restaurants.css" />
    </head>
    <body>
        <%- include('includes/header') %> <%- include('includes/side-drawer') %>

        <main>
            <h1><%= restaurant.name %></h1>
            <p><%= restaurant.cuisine %></p>
            <p><%= restaurant.address %></p>
            <p><%= restaurant.description %></p>
            <p><a href="<%= restaurant.website %>">View Website</a></p>
        </main>
    </body>
</html>
